# docker compose build - если меняли что-то в Dockerfile
# docker compose up - если изменили только docker-compose

services:
  db:
    image: postgres:17.5
    container_name: db
    volumes:
      - db_data:/var/lib/postgresql/data
    env_file:
      - .env
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASS}
      - POSTGRES_DB=${DB_NAME}
    ports:
      - "5433:5432"

  redis:
    image: redis:8.0.2
    container_name: redis
    command:
      - redis-server
      - "--appendonly yes"
      - "--requirepass ${REDIS_PASSWORD}"
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data


  bot:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: vpn_bot
    env_file:
      - .env
    depends_on:
      - db
      - redis
    volumes:
      - .:/app
    # Выполнит миграции и запустит бота через polling
    command: sh -c "alembic upgrade head && python -m src.main"

volumes:
  db_data:
  redis_data:
